<div id = "title">
	<h1>WeatherApp</h1>
</div>
<div id = "addform">
	<%= link_to "New search", new_search_path, id: "new_search", remote: true %>
</div>
<br>
<div id = "showweather">
	<% @searches.each do |search| %>
		<%= render search %>
	<% end %>
</div>

