<!DOCTYPE html>
<html>
<head>
  <title>Weatherapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-color:#B2DFDB">

<%= yield %>

</body>
</html>
